.Label{
    color: #646474;



font-size: 23px;
font-style: normal;
font-weight: 450;
line-height: normal;
height: 10%;
padding-left: 15px;
width: 100%;

}

.DepReturnBox{
    display: flex;
width: 100%;
height: 100%;
padding-left: 50px;
padding-right: 20px;
padding-top: 15px;
flex-direction: column;
align-items: center;
flex-shrink: 0;
gap:15px;
background-color: white;
}