.rightPanel {
    padding: 20px;
    margin: 10px;
    float: right;
    width: 75%;
    /* height: 90vh; */
    overflow: auto;
    margin-bottom: 45px;
  }
  .col-form-label {
    text-align: right;
  }
  
  @media only screen and (max-width: 768px) {
    .col-form-label {
      text-align: left;
    }
    .rightPanel {
      width: 100%;
      margin-bottom: 50px;
    }
  }

  .Form{
    height: 650px;
    width:60%;
    padding-left: 130px;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-right: 20px;
    background-color:white;
    flex-direction: row;

  }
  .SignUplabel{
  
color: '#605DEC';
 font-size: 24;
 font-family: 'Nunito Sans';
 font-weight: '700';
 word-wrap: 'break-word';
 padding-bottom: 20px;
  }
.Imag{
  flex-direction: row;
  display: inline-flex;

  width: 80%;
 
 
  
}
.Container{
  background-size: contain; /* This will ensure the entire image is visible */
  background-repeat: no-repeat; /* This will prevent the image from repeating */
  background-position: center; /* This will center the image in the container */
  width: 300px; /* Adjust the width as necessary */
  height: 350px; /* Adju)*/
}

 
    